{% extends "base.html" %}

{% block content %}

    <table>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>

        </tr>
        <tr>
            <td>Server Data</td>
            {% for data in server %}

            <td>
                <p>{{data}}</p>
            </td>
            <td><a href="update_server">Edit</a></td>
            <td><a href="delete_server">Delete</a></td>

            {% endfor %}
        </tr>
        <tr>
            <td>Type of Server Data</td>

            {% for data in type_of_data %}

            <td>
                <p>{{data}}</p>
            </td>
            <td><a href="update_type_of_server">Edit</a></td>
            <td><a href="delete_type_of_server}">Delete</a></td>

            {% endfor %}
        </tr>
        <tr>
            <td>Users Data</td>
            {% for data in users %}

            <td>
                <p>{{data}}</p>
            </td>
            <td><a href="update_users">Edit</a></td>
            <td><a href="delete_users">Delete</a></td>

            {% endfor %}
        </tr>
        <tr>
            <td>Servers Data</td>
            {% for data in servers %}

            <td>
                <p>{{data}}</p>
            </td>
            <td><a href="update_servers">Edit</a></td>
            <td><a href="delete_servers">Delete</a></td>

            {% endfor %}
        </tr>
        <tr>
            <td>Applications Data</td>
            {% for data in applications %}

            <td>
                <p>{{data}}</p>
            </td>
            <td><a href="update_applications">Edit</a></td>
            <td><a href="delete_applications">Delete</a></td>

            {% endfor %}
        </tr>
        <tr>
            <td>Overall Data</td>
            {% for data in overall %}

            <td>
                <p>{{data}}</p>
            </td>
            <td><a href="update_overall">Edit</a></td>
            <td><a href="delete_overall">Delete</a></td>

            {% endfor %}
        </tr>
    </table>
<p><a href="create_server">Create Server</a></p>
<p><a href="type_of_server">Create Type Of Server</a></p>
<p><a href="crud_main:users">Create User</a></p>
<p><a href="crud_main:servers">Create Servers</a></p>
<p><a href="crud_main:applications">Create Applications</a></p>
<p><a href="crud_main:overall">Create Overall</a></p>

{% endblock %}