{% extends "base.html" %}

{% block content %}

<div class="titre">

<p class="h1">SERVER ADMINISTRATION</p>

    <a  class="custom-btn btn-13" href="server" role="button"> Add servers</a>
    <a  class="custom-btn btn-16" href="users" role="button"> Add users</a>
    <a  class="custom-btn btn-13" href="applications" role="button"> Add applications </a>
    <a  class="custom-btn btn-16" href="servers" role="button"> Add services</a>
    <a  class="custom-btn btn-13" href="getData" role="button"> Add Data</a>
    <a  class="custom-btn btn-16" href="overall" role="button"> Add overvall</a>
</div>


{% endblock %}
