<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm or Deny</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        <p>Are you Want to delete "{{object}}"</p>
        <a href="{% url 'crud_main:dataView' %}">Go Back
        </a>
        <input type="submit" value="confirm" />
    </form>
</body>
</html>